/*global classes*/
.input_edit_show{
    background-color: skyblue;
    border-radius: 5px;
    padding: 0;
    visibility: visible;
    transform: translateX(0%);
    transition: .4s ease;
}
.delete_form input[type="text"]:first-child{
    pointer-events: none;
    visibility: hidden;
    width: 10px;
    background:transparent;
    border: none;
    position: absolute;
}
/*global classes*/

/*data start h1*/ 
h3{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
h3 h2{
    color: teal;
    background-color: skyblue;
    padding: 5px;
}
/*data start h1*/ 

/*add data to daatbase*/
.add{
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.add form{
    font-family: sans-serif;
    margin: 10px 0;
    background-color: skyblue;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
}
.add form input[type="text"]{
    background:transparent;
    border: none;
    border-bottom: 3px solid teal;
    outline: none;
    font-size: 20px;
    margin: 10px 0;
    transition: .4s ease;
    box-sizing: border-box;
}
.add form input[type="text"]:required{
    background: url(../img/star.png) right no-repeat;
    background-size: 15px;
}
.add form input[type="text"]:focus:invalid{
    border-color: rgb(231, 70, 70);
}
.add form input[type="text"]:valid{
    background: none;
    border-color: green;
}
.radio_item{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.radio_item .radio{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.radio_item .radio span{
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 20px;
    font-family: sans-serif;
    pointer-events: none;
    top: 8px;
    text-align: center;
}
.radio_item .radio input[type="radio"]{
    position: relative;
    width: 70px;
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    background-color: teal;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(104, 101, 101);
    transition: .4s ease;
}
.radio_item .radio input[type="radio"]:hover{
    background-color: rgb(4, 85, 85);
}
.radio_item .radio input[type="radio"]:checked{
    background-color: skyblue;
    transform: scale(1.2);
}
.radio_item .radio input[type="radio"]:checked + span{
    color: black;
}
.add form input[type="submit"]{
    background-color:teal;
    color: white;
    border: none;
    border-bottom: 3px solid teal;
    outline: none;
    font-size: 20px;
    padding: 5px 100px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    transition: .4s ease;
}
.add form input[type="submit"]:hover{
    background-color: rgb(4, 85, 85);
    border-bottom: 3px solid rgb(4, 85, 85);
}
/*add data to daatbase*/

/*table*/
.page_container{
    width: 100%;
    margin-top: 50px ;
}
.page_container h3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_container h3:before{
    content: '';
    position: absolute;
    top: -60%;
    background-color: rgb(231, 224, 224);
    width: 250px;
    height:4px;
    border-radius: 3px;
}
.page_container h3::after{
    content: '';
    position: absolute;
    top: -60%;
    background-color: skyblue;
    width: 50px;
    height: 4px;
    transition: .3s ease;
    border-radius: 3px;
}
.page_container h3:hover::after{
    width: 250px;
}
.page_container table{
    width: 100%;
    padding: 10px 0; 
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(221, 219, 219);
}
.page_container table{
    border-collapse: collapse;
}
.page_container table tr:first-child th{
    padding:10px 0;
    color: white;
    background-color: deepskyblue;
}
.page_container table tr:first-child th i{
    padding: 0 5px;
}
.page_container table tr td{
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.page_container table .edit{
    outline: none;
    background-color: teal;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin: -10px 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: .4s ease;
}
.page_container table .edit:hover{
    background-color: rgb(4, 85, 85);
}
.page_container table .delete{
    outline: none;
    background-color:rgb(245, 0, 0);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: -5px;
    cursor: pointer;
    transition: .4s ease;
}
.page_container table .delete:hover{
    background-color: rgb(211, 6, 6);
}
.page_container table .input_edit{
    background-color: skyblue;
    border-radius: 5px;
    visibility: hidden;
    padding: 0;
    border: none;
    transform: translateX(-100%);
    transition: .1s ease;
}
.page_container table .input_edit input[type="text"]{
    background: transparent;
    border: none;
    margin: 0px;
}
.page_container table .input_edit input[type="submit"]{
    background-color: teal;
    color: white;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    border: none;
}
.page_container table .input_edit_show input[type="text"]:first-child{
    pointer-events: none;
    text-align: center;
}
.page_container table .input_edit_show input[type="text"]{
    float: left;
    background: transparent;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 3px solid teal;
    outline: none;
    margin: 10px 40px;
}
.page_container table .input_edit_show input[type="text"]:required{
    background: url(../img/star.png) right no-repeat;
    background-size: 15px;
}
.page_container table .input_edit_show input[type="text"]:focus:invalid{
    border-color: rgb(231, 70, 70);
}
.page_container table .input_edit_show input[type="text"]:valid{
    background: none;
    border-color: green;
}
.page_container table .input_edit_show input[type="submit"]{
    float: right;
    background-color: teal;
    color: white;
    font-family: sans-serif;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s ease;
}
.page_container table .input_edit_show input[type="submit"]:hover{
    background-color: rgb(4, 85, 85);
}
.page_container table .input_edit .radio_item{
    float: left;
    margin: 0 10px;
}
.page_container table .input_edit_show .radio_item{
    float: left;
    margin: 0 20px;
}
.page_container table .input_edit_show .radio_item .radio{
    margin: 0 10px;
}
/*table*/

/*input edit index page select*/
.page_container table .input_edit select{
    background: transparent;
    border: none;
    margin: 0px;
}
.page_container table .input_edit_show select{
    float: left;
    background: transparent;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    width: 200px;
    border-bottom: 3px solid teal;
    outline: none;
    margin: 10px 40px;
}

/*input edit index page select*/
