body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*global classes*/
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
h3{
    font-family: sans-serif;
}
.max_height{
    height: 350px;
}
.min_height{
    height: 0;
}
.visible{
    opacity: 1;
    visibility: visible;
}
.translate_profile_right{
    transform: translateX(95%);
    transition: .6s ease;
    z-index: 10;
}
.translate_profile_left{
    transform: translateX(-6%);
    transition: .6s ease;
}
.rotate{
    transform: rotateZ(495deg);
    transition: .6s ease;
}
.dont_touch{
    pointer-events: none;
    background-color: rgba(0, 128, 128,0.2);
    border-radius: 10px;
    padding:10px;
}
.touch{
    padding:10px;
    background-color: skyblue;
}
.text_translate_0{
    transform: translateY(0%);
    transition: .4s ease;
}
.text_translate_100{
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
}
#update_id{
    display: none;
}
.modale{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .4s ease;
    z-index: 100;
}
.modale_data{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 197, 197);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.modale_data i{
    position: absolute;
    left:95%;
    top: 5%;
    cursor: pointer;
    transform: rotateZ(132deg);
    font-size: 25px;
}
.modale_data p span{
    color: blue;
    font-weight: bold;
}
.delete_all{
    position: relative;
    left: 10px;
    margin: 5px 0;
    background-color:rgb(245, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .4s ease;
}
.delete_all:hover{
    background-color: rgb(211, 6, 6);
}
/*global classes*/

/*header*/
header{
    min-height:60px;
    background-color: deepskyblue;
    transition: .5s ease;
}
header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav h3{
    color: white;
    padding-left: 10px;
}
header nav h3 span{
    color: teal;
}
header nav ul{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    transition: .3s ease;
    padding-right: 10px;
}
header nav ul li{
    padding-left:40px ;
}
header nav ul li:first-child a{
    background-color: rgb(5, 219, 219);
    padding: 10px;
    border-radius: 5px;
}
header nav ul li a{
    color: white;
    transition: .4s ease;
}
header nav ul li a:hover{
    color: teal;
}
header .fa{
    display: none;
    position: absolute;
    left: 90%;
    top: 2%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
/*header*/

/*admin_start*/
.container{
    position: absolute;
    width: 280px;
    min-height:80vh;
    z-index: 10;
    transform: translateX(-100%);
    background-color: black;
}
.profile_container{
    position: relative;
    margin:10px;
    padding: 20px 10px 50px 10px;
    width: 100%;
    background-color: deepskyblue;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.container .plus_icon{
    position: absolute;
    z-index: 10;
    left: 97%;
}
.container i{
    font-size: 35px;
    color: black;
    cursor: pointer;
    transition: .6s ease;
}
.profile_container img{
    width: 50%;
    border: 10px solid skyblue;
    border-radius: 50%;
}
.profile_container .profile_data a{
    
    background-color: skyblue;
    padding: 10px;
    margin-right:10px;
    border-radius: 5px;
    color: white;
}
/*admin_start*/

/*list_container*/
.list_container{
    width: 100%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.list_container .list_content{
    width: 40%;
    padding: 0 10px;
}
.list_container .list_content h3:first-child{
    color: teal;
}
.list_container form {
    background-color: skyblue;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 10px;
}
.list_container form p{
    text-align: center;
    color: red;
    background-color: rgb(240, 157, 143);
    border-radius: 5px;
    margin-top: -10px;
    padding: 5px 0;
    transition: .4s ease;
}
.list_container form .items{
    padding: 5px 0;
}
.list_container form h1{
    color: black;
    text-align: center;
}
.list_container form .items input[type="date"]{
    background-color: transparent;
    font-family: sans-serif;
    width: 50%;
    font-size: 15px;
    float: right;
    outline: none;
    border: none;
    border-bottom: 3px solid teal;
    cursor: pointer;
}
.list_container form .items input[type="text"]{
    background-color: transparent;
    font-family: sans-serif;
    width: 50%;
    font-size: 15px;
    float: right;
    outline: none;
    border: none;
    border-bottom: 3px solid teal;
}
.list_container form .items input[type="text"]:required{
    background: url(../img/star.png) right no-repeat;
    background-size: 15px;
}
.list_container form .items input[type="text"]:focus:invalid{
    border-color: rgb(231, 70, 70);
}
.list_container form .items input[type="text"]:valid{
    background: none;
    border-color: green;
}
.list_container form .items select{
    background: transparent;
    font-family: sans-serif;
    width: 50%;
    font-size: 15px;
    float: right;
    outline: none;
    border: none;
    border-bottom: 3px solid teal;
    cursor: pointer;
    transition: .4s ease;
}
.list_container form input[type="button"]{
    background-color:teal;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    transition: .4s ease;
}
.list_container form input[type="submit"]{
    background-color:teal;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    transition: .4s ease;
}
.list_container form input[type="submit"]:hover{
    background-color: rgb(4, 85, 85);
}
/*list_container*/

/**table edit section*/
/*table*/
#my_table_index{
    border-collapse: collapse;
}
#my_table_index tr:first-child th{
    padding:10px 0;
    color: white;
    background-color: deepskyblue;
}
#my_table_index tr:first-child th i{
    padding:0 3px;
}
#my_table_index tr td{
    padding:10px 0;
}
.background{
    background-color:rgb(153, 151, 151);
    color: white;
}
.background_th{
    background-color:rgb(175, 19, 19);
    color: white;
}
.background_th th{
    padding: 5px;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*table*/

/**table edit section*/

/*footer*/
footer{
    width: 100%;
    background-color: deepskyblue;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding:10px 0;
    margin-top: 10px;
}
/*footer*/

/*css for other devices*/
@media screen and (max-width:930px){
    header nav{
        flex-direction: column;
    }
    header nav ul{
        opacity: 0;
        visibility: hidden;
    }
    header nav h3{
        margin-left: -80%;
    }
    header nav ul li{
        display: block;
        padding: 20px;
        margin-top: -10px;
        margin-left:-40px;
        text-align: center;
    }
    header .fa{
        display: initial;
    }
    .container .admin_start{
        width: 100%;
    }
    .container img{
        width: 70%;
    }
 
    .list_container .list_content{
        width: 100%;
    }
}

/*css for other devices*/
